{% load static %} {% block body %}
<!DOCTYPE html>
<html>

<head>
  <title>Disease Prediction</title>
  <!-- <link rel="stylesheet" href="{% static 'core/css/bootstrap/four/bootstrap.css' %}" /> -->
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="logo">
        <a href="Home">
          <img src="../static/home/images/logo.png" alt="MyFitness Logo">
        </a>
        <h1>MyFitness</h1>
      </div>
      <div class="navigation-menu">
        <nav>
          <ul>
            <li class="dropdown">
              <a href="#services">Services &#9662;</a>
              <ul class="submenu">
                <li><a href="BMI-Calculator">BMI Calculator</a></li>
                <li><a href="Daily-Calories-Requirement">Daily Calories Requirement</a></li>
                <li><a href="Disease-Predictor">Disease Predictor</a></li>
                <li><a href="Workout-Plans">Workout Plans</a></li>
                <li><a href="Nutrition-Guidance">Nutrition Guidance</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#health-conditions">Health Conditions &#9662;</a>
              <ul class="submenu">
                <li><a href="#">Dermatology</a></li>
                <li><a href="#">Gastroenterology</a></li>
                <li><a href="#">Gynaecology</a></li>
                <li><a href="#">Urology</a></li>
                <li><a href="#">Oncology</a></li>
                <li><a href="#">Neurology</a></li>
                <li><a href="#">Cardiology</a></li>
              </ul>
            </li>
            <li><a href="Blog">Blog</a></li>
            <li><a href="Reviews">Reviews</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <section>
    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="card-body">
            <h1 class="text-center alert alert-info">Disease Predictor</h1>

            <form method="POST" action="" class="predict_form">
              {% csrf_token %}


              <div class="form-group row">
                <label for="Symptom" class="col-sm-2 col-form-label"><b>1st Symptom: </b></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" list="symp" multiple="multiple" name="Symptom1" id="Symptom1"
                    placeholder="Please Choose Symptom" required="" />
                </div>
                <datalist id="symp">
                  {% for symp in symptoms %}
                  <option value="{{symp}}">{{symp}}</option>
                  {% endfor %}
                </datalist>
              </div>

              <div class="form-group row">
                <label for="Symptom2" class="col-sm-2 col-form-label"><b>2nd Symptom: </b></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" list="symp" name="Symptom2" id="Symptom2"
                    placeholder="Please Choose Symptom" required="" />
                </div>
                <datalist id="symp">
                  {% for symp in symptoms %}
                  <option value="{{symp}}">{{symp}}</option>
                  {% endfor %}
                </datalist>
              </div>

              <div class="form-group row">
                <label for="Symptom3" class="col-sm-2 col-form-label"><b>3rd Symptom: </b></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" list="symp" name="Symptom3" id="Symptom3"
                    placeholder="Please Choose Symptom" required="" />
                </div>
                <datalist id="symp">
                  {% for symp in symptoms %}
                  <option value="{{symp}}">{{symp}}</option>
                  {% endfor %}
                </datalist>
              </div>

              <div class="form-group row">
                <label for="Symptom4" class="col-sm-2 col-form-label"><b>4th Symptom: </b></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" multiple="multiple" list="symp" id="Symptom4" name="Symptom4"
                    placeholder="Please Choose Symptom" required="" />
                </div>
                <datalist id="symp">
                  {% for symp in symptoms %}
                  <option value="{{symp}}">{{symp}}</option>
                  {% endfor %}
                </datalist>
              </div>

              <div class="form-group row">
                <label for="Symptom5" class="col-sm-2 col-form-label"><b>5th Symptom: </b></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" list="symp" id="Symptom5" name="Symptom5"
                    placeholder="Please Choose Symptom" required="" />
                </div>
                <datalist id="symp">
                  {% for symp in symptoms %}
                  <option value="{{symp}}">{{symp}}</option>
                  {% endfor %}
                </datalist>
              </div>

              <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                  <button type="submit" class="btn btn-primary" id="predict_form">
                    Predict
                  </button>
                </div>
              </div>

              <div id="result" class="col-sm-10 offset-sm-3"></div>
              {% if result %}
              <h3>You might be having {{result}}</h3>
              {% endif %}
            </form>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!--footer-->
  <div id="footer">
    <div class="footer-elements">
      <p><b><a href="../index.html">Home</a> | <a href="../index.html#about">About</a> | <a
            href="../Reviews/">Reviews</a> | <a href="../index.html#contact">Contact</a></b></p>
    </div>
    <div class="copyright">
      <p>Copyright © 2024 MyFitness, All Rights Reserved.</p>
    </div>
  </div>


</body>

</html>
{% endblock %}