.about {
  display: flex;
  justify-content: space-between;
}

.left-about {
  max-width: 50%;
  text-align: justify;
  margin-left: 70px;
}

.right-about {
  max-width: 50%;
  display: flex;
  margin: auto;
  justify-content: center;
}

.right-about img {
  max-width: 75%;
}
