.review-box-layout {
  width: 30%;
  border: solid 2px black;
  border-radius: 10px;
  padding: 20px 10px;
}

.review-box-container {
  padding: 10px 10px;
}

.customer-feedback i {
  font-size: 35px;
}

.customer-feedback {
  text-align: justify;
}

.user-rating {
  display: flex;
  align-items: center;
  gap: 14px;
}

.user-rating i {
  font-size: 35px;
}

.user-info {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.hidden {
  display: none;
}
