body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.diseases-predictor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 50px 150px;
    max-width: 400px;
}

label {
    margin-right: 5px;
}

.symptom-selection {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.symptom-item {
    margin: 10px 0;
}

select option:first-child {
    color: #888888;
}

button {
    padding-bottom: 10px 10px;
    margin-bottom: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}