body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.bmi-page {
  display: flex;
  margin: 50px 150px;
}

.bmi-container {
  margin-top: 0px;
  flex-basis: 60%;
  padding: 10px 10px;
  text-align: center;
  height: 47vh;
  max-width: 400px;
  border: 1px solid black;
  border-radius: 5px;
}

.bmi-container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.bmi-table img {
  margin-top: 60px;
  max-width: 400px;
  align-items: center;
}

input,
select,
button {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid 2px black;
  position: relative;
}



button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.bmi-content {
  flex-basis: 70%;
  margin-left: 40px;
  font-size: large;
}

.bmi-content p {
  text-align: justify;
}

.bmi-content ul li {
  text-decoration: none;
}
