<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>MyFitness | Blog</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/blog/style.css'>
    <link rel="shortcut icon" href="../static/home/images/logo.png">
</head>

<body>
    <section id="blog">
        <div class="blog-heading">
            <span>Our Recent Posts</span>
            <h3>Our Blog</h3>
        </div>
        <div class="blog-container" id="blogContainer">
            <div class="blog-box">
                <div class="blog-img">
                    <img src="blog-images/aids-img.jpg" alt="image">
                </div>
                <div class="blog-text">
                    <span>05 Feburary 2024 / AIDS Awareness Campaign</span>
                    <a class="blog-title" href="#">All you need to know about AIDS!</a>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat facere porro quam ex laborum
                        consequatur suscipit dolorum blanditiis vero praesentium natus quas dignissimos sit veritatis
                        nam nihil, aut laudantium molestias.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="blog-images/aids-img.jpg" alt="image">
                </div>
                <div class="blog-text">
                    <span>05 Feburary 2024 / AIDS Awareness Campaign</span>
                    <a class="blog-title" href="#">All you need to know about AIDS!</a>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat facere porro quam ex laborum
                        consequatur suscipit dolorum blanditiis vero praesentium natus quas dignissimos sit veritatis
                        nam nihil, aut laudantium molestias.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="blog-images/aids-img.jpg" alt="image">
                </div>
                <div class="blog-text">
                    <span>05 Feburary 2024 / AIDS Awareness Campaign</span>
                    <a class="blog-title" href="#">All you need to know about AIDS!</a>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat facere porro quam ex laborum
                        consequatur suscipit dolorum blanditiis vero praesentium natus quas dignissimos sit veritatis
                        nam nihil, aut laudantium molestias.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="blog-box hidden">
                <div class="blog-img">
                    <img src="blog-images/aids-img.jpg" alt="image">
                </div>
                <div class="blog-text">
                    <span>05 Feburary 2024 / AIDS Awareness Campaign</span>
                    <a class="blog-title" href="#">All you need to know about AIDS!</a>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat facere porro quam ex laborum
                        consequatur suscipit dolorum blanditiis vero praesentium natus quas dignissimos sit veritatis
                        nam nihil, aut laudantium molestias.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="blog-box hidden">
                <div class="blog-img">
                    <img src="blog-images/aids-img.jpg" alt="image">
                </div>
                <div class="blog-text">
                    <span>05 Feburary 2024 / AIDS Awareness Campaign</span>
                    <a class="blog-title" href="#">All you need to know about AIDS!</a>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat facere porro quam ex laborum
                        consequatur suscipit dolorum blanditiis vero praesentium natus quas dignissimos sit veritatis
                        nam nihil, aut laudantium molestias.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <button id="seeMoreBtn">See More Blogs</button>
    </section>

    <script src='../static/blog/script.js'></script>
</body>

</html>