<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BMI Calculator</title>
  <link rel="stylesheet" href="../static/bmi/style.css">
  <script src="https://kit.fontawesome.com/ec0fb1b1df.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="header-container">
      <div class="logo">
        <img src="../static/bmi/images/logo.png" alt="MyFitness Logo">
        <h1>MyFitness</h1>
      </div>
      <div class="navigation-menu">
        <nav>
          <ul>
            <li class="dropdown">
              <a href="#services">Services &#9662;</a>
              <ul class="submenu">
                <li><a href="/BMI-Calculator/">BMI Calculator</a></li>
                <li><a href="/Daily-Calories-Requirement/">Daily Calories Requirement</a></li>
                <li><a href="Disease-Predictor">Disease Predictor</a></li>
                <li><a href="Workout-Plans">Workout Plans</a></li>
                <li><a href="Nutrition-Guidance">Nutrition Guidance</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#health-conditions">Health Conditions &#9662;</a>
              <ul class="submenu">
                <li><a href="#">Dermatology</a></li>
                <li><a href="#">Gastroenterology</a></li>
                <li><a href="#">Gynaecology</a></li>
                <li><a href="#">Urology</a></li>
                <li><a href="#">Oncology</a></li>
                <li><a href="#">Neurology</a></li>
                <li><a href="#">Cardiology</a></li>
              </ul>
            </li>
            <li><a href="/Blog/">Blog</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="page">
    <div class="container">
      <h1>BMI Calculator</h1>
      <label for="height"><b>Height:</b></label>
      <input type="number" id="height" placeholder="Enter height">
      <select id="height-unit">
        <option value="cm">cm</option>
        <option value="m">m</option>
        <option value="in">in</option>
        <option value="ft">ft</option>
      </select><br><br>
      <label for="weight"><b>Weight:</b></label>
      <input type="number" id="weight" placeholder="Enter weight">
      <select id="weight-unit">
        <option value="kg">kg</option>
        <option value="lbs">lbs</option>
      </select><br><br>
      <label for="gender"><b>Gender:</b></label>
      <select id="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select><br><br>
      <button onclick="calculateBMI()">Calculate BMI</button><br><br>
      <div id="result"></div>
      <div class="bmi-table">
        <img src="../static/bmi/images/Body-mass-index-table.png" alt="BMI-Table">
      </div>
    </div>
    <div class="content">
      <h1>What is BMI?</h1>
      <p><br>BMI, or Body Mass Index, is a measure of body fat based on a person's height and weight. It's a simple yet
        effective tool to assess whether a person has a healthy weight for their height. BMI is widely used by
        healthcare professionals and individuals alike to gauge their risk of various health conditions associated with
        weight.
      </p>
      <br>
      <h1>How BMI is Calculated?</h1>
      <p><br>BMI is calculated using the following formula: <br><br><i class="fa-regular fa-hand-point-right"></i> BMI =
        weight (kg) / (height (m) * height (m)) <br><br>Or, in the imperial system: <br><br><i
          class="fa-regular fa-hand-point-right"></i> BMI = (weight (lbs) /
        (height (in) * height (in))) * 703</p><br>
      <h1>Importance of BMI</h1>
      <p><br>Maintaining a healthy BMI is crucial for overall health and well-being. Here are some reasons why
        monitoring BMI is important:</p><br>
      <ul>
        <li>
          <p><b>Health Risks:</b>Being underweight or overweight increases the risk of various health conditions such as
            heart disease, diabetes, hypertension, and certain cancers.</p><br>
        </li>
        <li>
          <p><b>Fitness Assessment:</b>BMI serves as a quick and easy way to assess whether a person's weight is within
            a healthy range relative to their height.</p><br>
        </li>
        <li>
          <p><b>Weight Management:</b>Understanding one's BMI can help in setting realistic weight loss or gain goals
            and tracking progress over time.</p><br>
        </li>
      </ul>
      <h1>Conclusion</h1>
      <p><br>Maintaining a healthy BMI is an essential aspect of overall health and well-being. By using this BMI
        calculator and understanding the results, you can take proactive steps towards achieving and maintaining a
        healthy weight, thereby reducing the risk of weight-related health issues and improving your quality of life.
      </p>
    </div>
  </div>


  <script src="../static/bmi/script.js"></script>
</body>

</html>