.no-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 72vh;
  text-align: center;
}

.no-page-container i {
  font-size: 100px;
  color: #ff0000; /* Red color for the icon */
}
