#footer {
    margin-top: 10px;
    padding: 10px 0px;
    border-color: transparent;
    height: auto;
    background-color: #333;
    color: white;
}

.footer-elements {
    text-align: center;
}

.footer-elements p {
    word-spacing: 20px;
}

.footer-elements p a {
    text-decoration: none;
    color: inherit;
}

.copyright {
    text-align: center;
}